
@{
    ViewData["Title"] = "Rekap Booking";
    Layout = "~/Views/Layout/Layout.cshtml";
}

<!-- Content Row -->
<div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">@ViewBag.Title</h6>
</div>

<div class="card-body">
    <div class="table-responsive">
        <table class="table table-bordered" id="MydataTable" width="100%" cellspacing="0"></table>
    </div>
</div>


<!-- Content Row -->
@section scriptdbAdmin{
    <script>
        var tableRoom = {
            create: function () {
                //debugger;
                // jika table tersebut datatable, maka clear and dostroy
                if ($.fn.DataTable.isDataTable('#MydataTable')) {
                    // table yg sudah dibentuk menjadi datatable harus d rebuild lagi
                    // untuk di instantiasi ulang
                    $('#MydataTable').DataTable().clear();
                    $('#MydataTable').DataTable().destroy();
                }
                $.ajax({
                    url: '/RoomWeb/LoadRoomEmp',
                    method: 'get',
                    contentType: 'application/json',
                    success: function (res, status, xhr) {
                        //debugger;
                        if (xhr.status == 200 || xhr.status == 201) {
                            $('#MydataTable').DataTable({
                                data: res,
                                "columnDefs": [
                                    { "orderable": false, "targets": 2 }
                                ],
                                columns: [
                                    {
                                        title: "No.", data: "", render: function (data, type, row, meta) {
                                            return meta.row + meta.settings._iDisplayStart + 1;
                                        }
                                    },
                                    // { title: "Booking Id", data: "BookingId" },
                                    { title: "Room Booked", data: "RoomName" },
                                    //{ title: "Team Leader", data: "TeamLeader" },
                                    {
                                        title: "Create Date", data: "CreateDate",
                                        render: function (jsonDate) {
                                            var date = moment(jsonDate).format("DD MMMM YYYY");
                                            return date;
                                        }},
                                    { title: "Event", data: "BookingName" },
                                    { title: "Time", data: "Time" },
                                    {
                                        title: "End Date", data: "EndDate",
                                        render: function (jsonDate) {
                                            var date = moment(jsonDate).format("DD MMMM YYYY");
                                            return date;
                                        }
                                    },
                                    //{
                                    //    title: "Action", data: null, "sortable": false, render: function (data, type, row) {
                                    //        return "<button class='btn btn-outline-warning' title='Edit' onclick=formRoom.setEditData('" + data.Id + "')><i class='fa fa-lg fa-edit'></i></button>" +
                                    //            "<button class='btn btn-outline-danger' title='Delete' onclick=formRoom.setDeleteData('" + data.Id + "')><i class='fa fa-lg fa-trash'></i></button>"
                                    //    }
                                    //}
                                ]
                            });
                        } else {
                        }
                    },
                    erorrr: function (err) {
                        console.log(err);
                    }
                });
            }
        };
        tableRoom.create();
    </script>
}

